# Ignore Build Files
node_modules/
dist/
package-lock.json

# Private stuff
pnpm-lock.yaml
.env
database

# Ignore specific files
files/anime/not-found.json
TODO.MD
src/slash/dev/test.ts
src/commands/dev/test.ts